/src/Authorization/Authorization.Application/bin
/src/Authorization/Authorization.Application/obj
/src/Authorization/Authorization.Caching/bin
/src/Authorization/Authorization.Caching/obj
/src/Authorization/Authorization.Domain/obj
/src/Authorization/Authorization.Domain/bin
/src/Authorization/Authorization.Model/obj
/src/Authorization/Authorization.Model/bin
/src/Authorization/Web.Authorization.Admin/bin
/src/Authorization/Web.Authorization.Admin/obj
/.vs
/src/Simple.Authorization/bin
/src/Simple.Authorization/obj
/test/Simple.SignalR.Test/bin
/test/Simple.SignalR.Test/obj
/src/Simple.SignalR/obj
/src/Simple.SignalR/bin
/src/Simple.SignalR/wwwroot/node_modules
/src/Simple.Logger/obj
/src/Simple.Logger/bin
/test/Simple.Utils.Test/obj
/test/Simple.Utils.Test/bin
/src/Simple.Utils/Job
/src/Simple.Utils/bin
/src/Simple.Utils/obj
/src/Simple.Translate/obj
/src/Simple.Translate/bin
/web/Web.Admin/node_modules
/web
/test/Simple.Download/bin
/test/Simple.Download/obj
/test/Simple.Web.API/obj
/test/Simple.Web.API/bin
